<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/createparodect.css">
    <title>Document</title>
</head>

<body>
    <%- include('../partials/employee/navbar') %>

        <div class="container">
            <h1> page create Prodect</h1>
            <form action="/products/new" method="post">

                <label for="name">Nmae:</label>
                <input id="name" type="text" name="name" required>

                <label id="labelcaegory">Category</label>
                <select id="selectcategory" name="category">
                    <option value="">Choose Category</option>

                    <% categories.forEach(category=> { %>
                        <option value="<%= category._id %>">
                            <%= category.name %>
                        </option>
                        <% }) %>

                </select>


                <label id="labelcategory">
                    <input type="checkbox" id="checkboxcategory">
                    Add new category
                </label>


                <input type="text" id="newCategory" name="newCategory" placeholder="New Category Name"
                    style="display:none;">

                <label id="labelSubcategory">Subcategory</label>

                <select id="selectsubcategory" name="subcategory">
                    <option value="">Choose Category</option>


                </select>

                <label id="labeladdSubcategory">
                    <input type="checkbox" id="checkboxSubcategory">
                    Add new subcategory
                </label>


                <input type="text" id="newSubcategory" name="newSubcategory" placeholder="New Subcategory Name"
                    style="display:none;">


                <label for="brand">brand:</label>
                <input id="brand" type="text" name="brand">

                <label for="discount">discount:</label>
                <input id="discount" type="number" name="discount">



                <label for="specifications">Enter all specifications (separated by spaces):</label>

                <input id="specificationstext" type="text" placeholder="size color weight">
                <button type="button" id="specificationbutton"> create specifications </button>
                <div id="containerSpecifications"></div>



                <label for="variants">Enter all variants (separated by spaces):</label>

                <input id="variantstext" type="text" placeholder="size color weight">
                <button type="button" id="variantsbutton"> create variants </button>
                <div id="containervariants"></div>

                <!-- <label for="price">price:</label>
                <input id="price" type="number" name="price" step="0.01" required> -->

                <!-- <label for="image">image:</label>
                <input id="image" type="text" name="image">

                <label for="quantity">Quantity:</label>
                <input id="quantity" type="number" name="quantity" required> -->

                <label for="description">Description</label>
                <textarea id="content" name="description"></textarea>
                <button type="submit">create parodect</button>
                <input type="hidden" id="subcategoriesData" value='<%- JSON.stringify(subcategories) %>'>
            </form>
        </div>
</body>

</html>

<script>

    const allSubcategories = JSON.parse(
        document.getElementById("subcategoriesData").value
    );

    const selectcategory = document.getElementById("selectcategory");
    const newCategory = document.getElementById("newCategory");
    const checkboxcategory = document.getElementById("checkboxcategory");
    const labelcategory = document.getElementById("labelcategory");

    const selectsubcategory = document.getElementById("selectsubcategory");
    const newSubcategory = document.getElementById("newSubcategory");
    const checkboxSubcategory = document.getElementById("checkboxSubcategory");

    const labelSubcategory = document.getElementById("labelSubcategory");
    const labeladdSubcategory = document.getElementById("labeladdSubcategory");




    labelSubcategory.style.display = "none";
    selectsubcategory.style.display = "none";
    checkboxSubcategory.style.display = "none";
    labeladdSubcategory.style.display = "none";
    newSubcategory.style.display = "none";




    checkboxcategory.addEventListener("change", function () {

        if (this.checked) {

            newCategory.style.display = "block";
            selectcategory.style.display = "none";

            labeladdSubcategory.style.display = "block";
            newSubcategory.style.display = "block";

        } else {

            newCategory.style.display = "none";
            selectcategory.style.display = "block";

            labeladdSubcategory.style.display = "none";
            newSubcategory.style.display = "none";
        }

    });



    selectcategory.addEventListener("change", function () {

        const categoryId = this.value;


        if (!categoryId) {
            labelSubcategory.style.display = "none";
            selectsubcategory.style.display = "none";
            checkboxSubcategory.style.display = "none";
            labeladdSubcategory.style.display = "none";
            newSubcategory.style.display = "none";

            checkboxcategory.style.display = "block";
            labelcategory.style.display = "block";
            return;
        }
        console.log(categoryId + "                none");
        checkboxcategory.style.display = "none";
        labelcategory.style.display = "none";



        labelSubcategory.style.display = "block";
        selectsubcategory.style.display = "block";
        checkboxSubcategory.style.display = "block";
        labeladdSubcategory.style.display = "block";


        selectsubcategory.innerHTML =
            '<option value="">Choose Subcategory</option>';


        const result = allSubcategories.filter(sub => {

            return sub.category === categoryId;

        });


        result.forEach(sub => {

            const option = document.createElement("option");

            option.value = sub._id;
            option.textContent = sub.name;

            selectsubcategory.appendChild(option);

        });

    });



    checkboxSubcategory.addEventListener("change", function () {

        if (this.checked) {

            newSubcategory.style.display = "block";
            selectsubcategory.style.display = "none";

        } else {

            newSubcategory.style.display = "none";
            selectsubcategory.style.display = "block";

        }

    });



    const exportspecfic = document.getElementById("specificationstext")
    const specificationbutton = document.getElementById("specificationbutton")
    const containerSpecifications = document.getElementById("containerSpecifications")

    const exportsvariants = document.getElementById("variantstext")
    const variantsbutton = document.getElementById("variantsbutton")
    const containervariants = document.getElementById("containervariants")




    function addInput(input, container, isvariants) {
        container.innerHTML = "";

        console.log(input.value);

        const keyspecfic = input.value.trim().split(" ").map(item => item.toLowerCase());
        for (let index = 0; index < keyspecfic.length; index++) {
            console.log(keyspecfic);


            const label = document.createElement("label");

            label.htmlFor = keyspecfic[index];
            label.textContent = keyspecfic[index]

            const value = document.createElement("input");
            value.type = "text";
            if (isvariants === true) {
                value.name = `variants[0][attributes][${keyspecfic[index]}]`;
            } else {
                value.name = `specifications[${keyspecfic[index]}]`;
               }
            value.placeholder = keyspecfic[index];



            container.appendChild(label)
            container.appendChild(value)
        }


    }





    specificationbutton.addEventListener("click", function () {
        addInput(exportspecfic, containerSpecifications, false)
    })

    variantsbutton.addEventListener("click", function () {
        addInput(exportsvariants, containervariants, true)
    })



</script>