<nav class="navbar">

    <div class="logo">
        BMJ SuperMarket
    </div>


    <form class="search">

        <input 
        type="text" 
        placeholder="Search products...">

        <button>
            🔍
        </button>

    </form>


    <div class="nav-links">

        <a href="/profile">
            👤 Profile
        </a>

        <a href="/orders">
            📦 Orders
        </a>

        <a href="/wishlist">
            ♡ Wishlist
        </a>

        <a href="/cart">
            🛒 Cart
        </a>

    </div>


</nav>