<aside class="sidebar">

    <div class="logo">
        Employee Panel
    </div>


    <nav>

        <a href="/employee">
            🏠 Home
        </a>

        <a href="/products/new">
            ➕ Add Product
        </a>
        <a href="/products/veiws">
            📦 Products
        </a>


        <a href="/employee">
            📁 Categories
        </a>

        <a href="/employee">
            🛒 Orders
        </a>

        <a href="/employee">
           👤 profile
        </a>


        <% if(user){ %>

            <a href="/auth/sign-out">
                🚪 Logout
            </a>

        <% } %>


    </nav>

</aside>