<!DOCTYPE html>
<html>

<head>

    <title>SuperMarket</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/customer/customerHome.css">
    <link rel="stylesheet" href="/css/customer/navbar.css">

</head>


<body>


    <%- include('../partials/customer/navbar') %>

        <main class="page-container">
       
        <section class="header">

            <h1>
                Welcome to BMJ SuperMarket
            </h1>
           
            <p>
                Everything you need in one place
            </p>


        </section>






        <section class="section">

            <div class="section-header">

                <h2>Categories</h2>


            </div>
            <div class="categories">

               
                 

            <% for (const one of countCatgoty) { %>

                 

                 <a href="/categoryviews/<%=one._id%>">    <div class="category">  <%= one.name %>   </div> </a>
              
                    
                    
                    
                    <% } %>
                    
                </div>

        </section>

   
        <section class="section">

            <div class="section-header">

                <h2>Offers</h2>

                    <div class="section-actions">

                    <button class="arrow">&#10094;</button>

                    <button class="arrow">&#10095;</button>

                    <a href="#">View All →</a>

                </div>

            </div>

            <div class="products">

                <div class="card">

                    <img src="" alt="">

                    <h3>iPhone 16</h3>

                    <div class="stars">view: 132</div>

                    <p class="price">999 BH</p>

                    <button>Add to Cart</button>

                </div>

                <div class="card">

                    <img src="" alt="">

                    <h3>Milk</h3>

                    <div class=" stars"> view: 59
                    </div>

                    <p class="price">1.50 BH</p>

                    <button>Add to Cart</button>

                </div>

                <div class="card">

                    <img src="" alt="">

                    <h3>Nike Shoes</h3>

                    <div class="stars"> view: 56</div>

                    <p class="price">30 BH</p>

                    <button>Add to Cart</button>

                </div>

                <div class="card">

                    <img src="" alt="">

                    <h3>Laptop</h3>

                    <div class="stars">view: 52</div>

                    <p class="price">450 BH</p>

                    <button class="addcart" > Add to Cart</button>

                </div>

            </div>

        </section>
        <section class="section">

            <div class="section-header">

                <h2>Featured Products</h2>

                    <div class="section-actions">

                    <button class="arrow">&#10094;</button>

                    <button class="arrow">&#10095;</button>

                    <a href="#">View All →</a>

                </div>

            </div>

            <div class="products">

                <div class="card">

                    <img src="" alt="">

                    <h3>iPhone 16</h3>

                    <div class="stars">view: 132</div>

                    <p class="price">999 BH</p>

                    <button>Add to Cart</button>

                </div>

                <div class="card">

                    <img src="" alt="">

                    <h3>Milk</h3>

                    <div class=" stars"> view: 59
                    </div>

                    <p class="price">1.50 BH</p>

                    <button>Add to Cart</button>

                </div>

                <div class="card">

                    <img src="" alt="">

                    <h3>Nike Shoes</h3>

                    <div class="stars"> view: 56</div>

                    <p class="price">30 BH</p>

                    <button>Add to Cart</button>

                </div>

                <div class="card">

                    <img src="" alt="">

                    <h3>Laptop</h3>

                    <div class="stars">view: 52</div>

                    <p class="price">450 BH</p>

                    <button>Add to Cart</button>

                </div>

            </div>

        </section>

        <!------------------------------------- -->
        <section class="section">

            <div class="section-header">

                <h2>New Arrivals</h2>

                <a href="#">View All →</a>

            </div>

            <div class="products">
                <% for (const offer of offers) { %>
                    
                <div class="card">
                    
                    <img src="" alt="">
                    <h3><%=offer.name%></h3>
                    <p class="price">XXXXX BH</p>
                    <button>Add to Cart</button>
                </div>
                             <%  } %>

                <!-- <div class="card">
                    <img src="" alt="">
                    <h3>Orange Juice</h3>
                    <p class="price">1.80 BH</p>
                    <button>Add to Cart</button>
                </div> -->

                <!-- <div class="card">
                    <img src="" alt="">
                    <h3>Headphones</h3>
                    <p class="price">35 BH</p>
                    <button>Add to Cart</button>
                </div> -->

                <!-- <div class="card">
                    <img src="" alt="">
                    <h3>Cheese</h3>
                    <p class="price">4 BH</p>
                    <button>Add to Cart</button>
                </div> -->

            </div>

        </section>
        
         </main>


        <footer>

            <p>
                © 2026 BMJ SuperMarket
            </p>

        </footer>



</body>

</html>