<!DOCTYPE html>
<html>

<head>

    <title>SuperMarket</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/customer/customerHome.css">
    <link rel="stylesheet" href="/css/customer/navbar.css">

</head>


<body>


    <%- include('../partials/customer/navbar') %>



        <section class="header">

            <h1>
                Welcome to SuperMarket
            </h1>

            <p>
                Everything you need in one place
            </p>


        </section>





        <!-- Categories -->
        <section class="section">

            <div class="section-header">

                <h2>Categories</h2>


            </div>

            <div class="categories">

                <div class="category"> Fruits</div>
                <div class="category"> Vegetables</div>
                <div class="category"> Dairy</div>
                <div class="category"> Electronics</div>
                <div class="category"> Bakery</div>
                <div class="category"> Drinks</div>

            </div>

        </section>

        <!-- Featured Products -->
        <section class="section">

            <div class="section-header">

                <h2>Featured Products</h2>

                <div class="section-actions">

                    <button class="arrow">&#10094;</button>

                    <button class="arrow">&#10095;</button>

                    <a href="#">View All →</a>

                </div>

            </div>

            <div class="products">

                <div class="card">

                    <img src="" alt="">

                    <h3>iPhone 16</h3>

                    <div class="stars">view: 132</div>

                    <p class="price">999 BH</p>

                    <button>Add to Cart</button>

                </div>

                <div class="card">

                    <img src="" alt="">

                    <h3>Milk</h3>

                    <div class=" stars"> view: 59
                    </div>

                    <p class="price">1.50 BH</p>

                    <button>Add to Cart</button>

                </div>

                <div class="card">

                    <img src="" alt="">

                    <h3>Nike Shoes</h3>

                    <div class="stars"> view: 56</div>

                    <p class="price">30 BH</p>

                    <button>Add to Cart</button>

                </div>

                <div class="card">

                    <img src="" alt="">

                    <h3>Laptop</h3>

                    <div class="stars">view: 52</div>

                    <p class="price">450 BH</p>

                    <button>Add to Cart</button>

                </div>

            </div>

        </section>

        <!-- New Products -->
        <section class="section">

            <div class="section-header">

                <h2>New Products</h2>

                <a href="#">View All →</a>

            </div>

            <div class="products">

                <div class="card">
                    <img src="" alt="">
                    <h3>Chocolate</h3>
                    <p class="price">2.50 BH</p>
                    <button>Add to Cart</button>
                </div>

                <div class="card">
                    <img src="" alt="">
                    <h3>Orange Juice</h3>
                    <p class="price">1.80 BH</p>
                    <button>Add to Cart</button>
                </div>

                <div class="card">
                    <img src="" alt="">
                    <h3>Headphones</h3>
                    <p class="price">35 BH</p>
                    <button>Add to Cart</button>
                </div>

                <div class="card">
                    <img src="" alt="">
                    <h3>Cheese</h3>
                    <p class="price">4 BH</p>
                    <button>Add to Cart</button>
                </div>

            </div>

        </section>



        <footer>

            <p>
                © 2026 BMJ SuperMarket
            </p>

        </footer>



</body>

</html>