<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/customer/prodectdetails.css">
    <link rel="stylesheet" href="/css/customer/navbar.css">
    <title>Document</title>
</head>

<body>

    <%- include('../partials/customer/navbar') %>

        <h1>prodect details.</h1>
        <div class="product-container">

            <!-- Left -->
            <div class="gallery">

                <img class="main-image" src="https://via.placeholder.com/500x500" alt="">

                <div class="thumbnails">

                    <img src="https://via.placeholder.com/90" alt="">
                    <img src="https://via.placeholder.com/90" alt="">
                    <img src="https://via.placeholder.com/90" alt="">
                    <img src="https://via.placeholder.com/90" alt="">
                    <img src="https://via.placeholder.com/90" alt="">

                </div>

            </div>


            <!-- Center -->
            <div class="product-info">

                <h1>iPhone 16 Pro Max</h1>

                <p class="brand">
                    Apple
                </p>

                <div class="rating">
                    ⭐⭐⭐⭐⭐ (150 Reviews)
                </div>

                <div class="price">
                    999 BH
                </div>

                <h3>Variants</h3>

                <div class="variants">

                    <button>Black</button>
                    <button>White</button>
                    <button>Blue</button>

                </div>

                <h3>Storage</h3>

                <div class="variants">

                    <button>128 GB</button>
                    <button>256 GB</button>
                    <button>512 GB</button>

                </div>

                <h3>Description</h3>

                <p>
                    The latest iPhone with A18 chip, OLED display,
                    high-performance camera system, and long battery life.
                </p>

            </div>


            <!-- Right -->
            <div class="buy-box">

                <h2>999 BH</h2>

                <p class="stock">
                    ✔ In Stock
                </p>

                <label>Quantity</label>

                <input type="number" value="1" min="1">

                <button class="cart-btn">
                    🛒 Add To Cart
                </button>

                <button class="buy-btn">
                    Buy Now
                </button>

            </div>

        </div>
</body>

</html>