* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}


.sidebar {

    position:fixed;
    left:0;
    top:0;

    width:250px;
    height:100vh;

    background:#2c3e50;
    padding:20px;

}



.logo {

    color:white;
    font-size:22px;
    font-weight:bold;
    margin-bottom:40px;

}



.sidebar nav {

    display:flex;
    flex-direction:column;
    gap:15px;

}



.sidebar a {

    color:white;
    text-decoration:none;

    padding:12px 15px;

    border-radius:8px;

    transition:0.3s;

}



.sidebar a:hover {

    background:#3498db;

}